FLASK_ENV=development
SECRET_KEY=lab-report-system-secret
JWT_SECRET_KEY=lab-report-system-jwt-secret
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=lab_report_system
PORT=5001
